html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;	
}

body {
	position: relative;
  	height: 100%;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

main {
	margin: 0 1% 0 32%;
	padding-bottom: 5%;
}

main .mainHeader {
	transform: translate(-3.5%, 0);
	font-weight: bold;
}

main h1 {
	margin: 0;
	padding-top: 37px;
	color: black;
	font-size: 60px;
	text-align: left;
	font-weight: bold;
}

main h2 {
	color: black;
	font-size: 18px;
	text-align: left;
	margin: 10px 0 70px 0;
	
}

p, li {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 1px; 
	
}

img {
	display: block;
	margin: 15% 10% 15% 1%;
	width: 250px;
	border-radius: 50%;
	
}


div {
	margin-bottom: 20px;
	padding: 0px;
	text-align: left;
	border-top-width: 0;
}

.contacts {
	margin-left:10%;
}

.references {
	margin-left:10%;
	position: absolute; 
	bottom: 15px;
}

.boxHeader {
	background-color: #D5D7EB;
	margin: 0;
	max-height: 50px;
	position: relative;
}


.paragrafTitle {
	color: black;
	font-size: 20px;
	margin: 0px;
 	font-weight: bold;
}

.paragrafText {
	font-family: 'Lato', sans-serif;
	margin: 0;
	
}

.lighterText {
	color: #6699ff;
}

.leftSidePart {
	width: 25%;
	height: 100%; 
    padding-left: 20px;
    margin: 0 auto;
    position: absolute;
    color: white;
	background-color:#29627e;
}


aside .paragrafTitle {
	background-color:#29627e;
	color: white;
}

.italic {
	font-style: italic;
}

.bolder {
	font-weight: bold;
}

article {
	margin: 0;
	background: white;
}

div .innerSide {
	height: 20%;
	width: 80%;
	margin-top: -48px;
	margin-left: 17%;
	margin-bottom: 10px;
}

.year {
	margin-top:0px;
	font-weight: bold;
	margin-left: 2%;
}

.header {
	font-weight: bold;
	font-size:13px;
}

.lineDotsBox {
	background-color: white;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.lineDotsBox p {
	margin: 0;
}

.oneDotBox {
	margin-bottom: 0;
	transform: translate(0%,-4%);
}

.lineDotsBox .line {
	padding-left: 25px;
	background: white;
}

.lineDotsBox .line .dot {
	font-size: 37px;
}

.lineDotsBox .line .dot div {
	font-size: 16px;

}

.other .lineDotsBox .line .dot div {
	font-size: 14px;
	margin: unset;
	width: 99%;
}

.skillBox {
	border-left:2px solid black;
	border-bottom: 2px solid black;
	margin-top: -20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.skillsBar {
	list-style-type: none;
	width: 49%;
	padding: 3%;
	display: inline-block;
}

.right {
	float: right;
}

.left {
	float: left;
}

.skill {
	height: 40px;
	position: relative;
}

.skill p {
	width: 56%;
	text-align: right;
	margin: 12px 0 15px -5px;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
}

.myProgress {
	width: 49%;
	background-color: #D5D7EB;
	margin-bottom: 0;
	position: absolute;
	top: 10%;
	left: 58%;
}

.bar {
	height: 20px;
	background-color: #29627e;
	margin-bottom: 0;
}

.cpp {
	width:90%;
}

.java {
	width: 100%;
}

.js {
	width: 80%;
}

.html_css {
	width: 70%;
}

.problem_solving {
	width: 80%;
}

.comunication {
	width:80%;
}

.rails {
	width:70%;
}

.gitSkill {
	width:80%;
}
.circle {
  position: absolute;
  border: 2px solid black;
  background-color: white;
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: inline-block;
  font-size: 30px;
  transform: translate(-48%,0%);
  top: -10px;
}

.text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-27%,-45%);
  margin: 0;
  
}

.graduationHat {
	transform: translate(16%,13%);
}

.work .paragrafTitle {
	color: black;
	display: inline-block;
	width:94%;
	margin-left: 44px;
}

.projectBox {
	border-left:2px solid black;
	border-bottom: 2px solid black;
	padding: 16px;
}

.project {

}

.twoProjectsBox {
	position: relative;
	margin: 0;
}

.twoProjectsBox .project {
	display: inline-block;
	width: 48%;
	margin-bottom: 0;
}
 .learning_points {
 	font-style: italic;
 	color: gray;
 }