html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: #D5D7EB;
	
}

body {
	position: relative;
  height: 100%;
	width: 1200px;
	margin: 0 auto;
	background-color: #F6F7F7;
	padding: 0;
	border: 5px solid black;
	
	
}
main {
	margin: 0 2% 2% 25%;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: black;
	font-size: 60px;
	text-align: left;
}

h2 {
	color: black;
	font-size: 30px;
	text-align: left;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px; 
	
}

img {
	display: block;
	margin: 0 auto;
	width: 400px;
}

div {
	
	background-color: #D5D7EB;
	padding: 0px;
	text-align: left;
	
}

.paragrafTitle {
	background-color: #60F4F4;
	margin: 0px;
	
}

.paragrafText {
	font-family: 'Lato', sans-serif;
}

aside {
    position: absolute;
		width: 20%;
		height: 100%; 
    padding-left: 20px;
    margin: 0 auto;
    float: left;
    
    color: white;
		background-color:#29627e;
}



